:root {
  --cor-1: #e23e57;  /* Cor principal - pode ser usada para elementos de destaque, como o cabeçalho */
  --cor-2: #ffffff;  /* Cor secundária - geralmente usada para texto ou fundos contrastantes */
  --cor-3: #e96a7e;  /* Cor terciária - uma variação para botões ou outros elementos menores */
  --cor-4: #ce1f3a;  /* Cor de alerta ou chamada à ação */
  --cor-5: #e6e6e6;  /* Cor de fundo suave - pode ser usada para backgrounds */
  --cor-6: #ef97a4;  /* Cor de fundo alternativa - para áreas que precisam de uma leve diferenciação */
}
