.container-galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}


.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: slide 10s infinite linear;
    margin-top: 200px;
}

.imagem {
    width: 200px;
    height: auto;
    margin-right: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.imagem:hover {
    transform: scale(1.1);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
